{
	email batudal@gmail.com
}

(security) {
	header {
		# enable HSTS
		Strict-Transport-Security max-age=31536000;
		# disable clients from sniffing the media type
		X-Content-Type-Options nosniff
		# keep referrer data off of HTTP connections
		Referrer-Policy no-referrer-when-downgrade
	}
}

de-risk.app {
	encode zstd gzip
	reverse_proxy http://de-risk:80
}
