<div class="flex flex-col gap-4 pt-12 px-4 sm:px-8 items-center">
  <div class="flex flex-col gap-3 items-center max-w-[520px]">
    <div class="flex flex-row gap-2 items-center">
      <div class="py-1.5 px-2 bg-green-900/50 font-medium text-xs text-green-400 rounded-md">
        Solopreneurs</div>
      <div class="py-1.5 px-2 bg-cyan-900/50 font-medium text-xs text-cyan-400 rounded-md">
        Startups</div>
      <div class="py-1.5 px-2 bg-yellow-900/50 font-medium text-xs text-yellow-400 rounded-md">
        Incubators</div>
    </div>
    <h1 class="text-4xl text-derisk-100 font-semibold text-center tracking-tighter">Introducing De-Risk
    </h1>
  </div>
  <p class="text-xl text-derisk-200 font-normal text-center max-w-[720px]">Why are we doing this? What problem are we
    solving? Why now?</p>
  <div class="flex flex-row gap-2 items-center">
    <img src="https://de-risk.sfo3.cdn.digitaloceanspaces.com/takempire.webp" alt="Batu Dal"
      class="h-10 w-10 rounded-full">
    <p class="text-base text-derisk-300 font-normal">Batu Dal - 16 May, 2023</p>
  </div>
  <img src="https://de-risk.sfo3.cdn.digitaloceanspaces.com/dashboard.webp" alt="De-Risk Hero" class="h-full w-[920px]">
  <div class="flex flex-col gap-3 p-4 max-w-[720px]">
    <h3 class="text-xl text-derisk-100 font-medium">Why am I doing this?</h3>
    <p class="text-derisk-200 text-base font-normal">When I was working in the family business, I was responsible for
      the R&D of a modular construction system.
      <br /><br />
      Scope of my responsibility involved designing the factory line and the construction process, as well as the
      product itself.
      <br /><br />
      I studied <a class="underline underline-offset-2 text-derisk-150 hover:text-derisk-100" href="" alt="">Toyota
        Production
        System</a>, <a class="underline underline-offset-2 text-derisk-150 hover:text-derisk-100" href="" alt="">Lean
        Manufacturing</a>,
      and <a class="underline underline-offset-2 text-derisk-150 hover:text-derisk-100" href="" alt="">Six Sigma</a>
      to
      implement a production system that would
      be efficient and effective.
      <br /><br />
      As I moved on to entrepreneurship, I realized that the same principles could be applied to startups(often coined
      as <a class="underline underline-offset-2 text-derisk-150 hover:text-derisk-100" href="" alt="">Lean Startup</a>).
      <br /><br />
      I started to look for a tool that would help me implement these principles in my startup, but I couldn't find one.
      <br /><br />
      Many solutions end up with a PDF template that you have to fill out, or a checklist that you have to follow.
    </p>
    <h3 class="text-xl text-derisk-100 font-medium mt-4">What problem am I solving?</h3>
    <p class="text-derisk-200 text-base font-normal">I am building a risk management tool for early-stage projects.
      <br /><br />
      It is a tool that helps you identify, analyze, and mitigate risks in your project.
      <br /><br />
      It helps you manage multiple projects with an analytics dashboard to oversee gross risk and costs.
      <br /><br />
      Instead of printed templates and checklists, it is a digital tool that
      helps you manage your projects in a collaborative way.
    </p>
    <h3 class="text-xl text-derisk-100 font-medium mt-4">Why now?</h3>
    <p class="text-derisk-200 text-base font-normal">We need every institution to acknowledge the importance of risk
      management in early-stage projects.
      <br /><br />
      We need to build a culture of risk management in early-stage projects but we also need the right tools.
      <br /><br />
      I'm just starting to build this tool, and I need your help to make it happen.
    </p>
    <h3 class="text-xl text-derisk-100 font-medium mt-4">Get Started</h3>
    <p class="text-derisk-200 text-base font-normal">Although the project is in development phase, you can do a several
      things to learn more about the process now.
    </p>
    <ul class="text-derisk-200 text-base list-disc list-inside">
      <li>Join the waitlist for: <a class="text-derisk-150 hover:text-derisk-100 underline underline-offset-2"
          href="/?modal=wait-list">Early
          Access</a></li>
      <li>Follow/DM me on: <a class="text-derisk-150 hover:text-derisk-100 underline underline-offset-2"
          href="https://twitter.com/batudal" target="_blank">Twitter</a></li>
      <li>Star repository on: <a class="text-derisk-150 hover:text-derisk-100 underline underline-offset-2"
          href="https://github.com/batudal/derisk" target="_blank">Github</a></li>
    </ul>
  </div>
</div>
