<div class="flex flex-col gap-14 px-14 py-20">
  <div class="flex flex-col gap-3">
    <div class="flex flex-row gap-2">
      <div class="py-1.5 px-2 bg-yellow-900/50 font-medium text-xs text-yellow-400 rounded-md">
        Incubators</div>
      <div class="py-1.5 px-2 bg-cyan-900/50 font-medium text-xs text-cyan-400 rounded-md">
        Startups</div>
    </div>
    <h2 class="text-4xl text-derisk-100 font-semibold max-w-[336px] tracking-tighter">Manage discovery, not
      <span class="line-through">blind luck.</span>
    </h2>
  </div>
  <div class="flex flex-row flex-wrap gap-20 max-w-[400px] md:max-w-[780px] xl:max-w-[1168px]">
    <div class="flex flex-col gap-3">
      <img src="../../public/icons/mitigate-failure.svg" alt="Mitigate Failure" class="w-6 h-6">
      <div class="flex flex-col gap-1.5">
        <h3 class="text-xl text-derisk-100 font-normal">Mitigate Failure</h3>
        <p class="text-sm text-derisk-200 font-normal max-w-[336px]">Identify and address potential pitfalls early on,
          minimizing the risk of costly setbacks.</p>
      </div>
    </div>
    <div class="flex flex-col gap-3">
      <img src="../../public/icons/foster-innovation.svg" alt="Foster Innovation" class="w-6 h-6">
      <div class="flex flex-col gap-1.5">
        <h3 class="text-xl text-derisk-100 font-normal">Foster Innovation</h3>
        <p class="text-sm text-derisk-200 font-normal max-w-[336px]">Encourage a culture of creativity and exploration
          by providing a structured framework to manage risks effectively.</p>
      </div>
    </div>
    <div class="flex flex-col gap-3">
      <img src="../../public/icons/validate-ideas.svg" alt="Validate Ideas" class="w-6 h-6">
      <div class="flex flex-col gap-1.5">
        <h3 class="text-xl text-derisk-100 font-normal">Validate Ideas</h3>
        <p class="text-sm text-derisk-200 font-normal max-w-[336px]">Gain confidence in your concepts and make
          data-driven decisions to validate ideas before investing substantial resources.</p>
      </div>
    </div>
    <div class="flex flex-col gap-3">
      <img src="../../public/icons/optimize-resource-allocation.svg" alt="Optimize Resource Allocation" class="w-6 h-6">
      <div class="flex flex-col gap-1.5">
        <h3 class="text-xl text-derisk-100 font-normal">Optimize Resource Allocation</h3>
        <p class="text-sm text-derisk-200 font-normal max-w-[336px]">Allocate your limited resources efficiently by
          prioritizing initiatives based on their risk-to-reward ratio.</p>
      </div>
    </div>
    <div class="flex flex-col gap-3">
      <img src="../../public/icons/boost-investor-confidence.svg" alt="Boost Investor Confidence" class="w-6 h-6">
      <div class="flex flex-col gap-1.5">
        <h3 class="text-xl text-derisk-100 font-normal">Boost Investor Confidence</h3>
        <p class="text-sm text-derisk-200 font-normal max-w-[336px]">Demonstrate a proactive approach to risk
          management, instilling confidence in potential investors or funding sources.</p>
      </div>
    </div>
    <div class="flex flex-col gap-3">
      <img src="../../public/icons/enhance-strategic-planning.svg" alt="Enhance Strategic Planning" class="w-6 h-6">
      <div class="flex flex-col gap-1.5">
        <h3 class="text-xl text-derisk-100 font-normal">Enhance Strategic Planning</h3>
        <p class="text-sm text-derisk-200 font-normal max-w-[336px]">Align your business strategy with a comprehensive
          understanding of potential risks and devise robust contingency plans.</p>
      </div>
    </div>

    <div class="flex flex-col gap-3">
      <img src="../../public/icons/identify-market-opportunities.svg" alt="Identify Market Opportunities"
        class="w-6 h-6">
      <div class="flex flex-col gap-1.5">
        <h3 class="text-xl text-derisk-100 font-normal">Identify Market Opportunities</h3>
        <p class="text-sm text-derisk-200 font-normal max-w-[336px]">Uncover potential market gaps and opportunities by
          analyzing risks associated with emerging trends or innovative solutions.</p>
      </div>
    </div>
    <div class="flex flex-col gap-3">
      <img src="../../public/icons/streamline-operations.svg" alt="Streamline Operations" class="w-6 h-6">
      <div class="flex flex-col gap-1.5">
        <h3 class="text-xl text-derisk-100 font-normal">Streamline Operations</h3>
        <p class="text-sm text-derisk-200 font-normal max-w-[336px]">Identify operational vulnerabilities and implement
          measures to address them, fostering a more resilient and efficient startup ecosystem.</p>
      </div>
    </div>
    <div class="flex flex-col gap-3">
      <img src="../../public/icons/accelerate-growth.svg" alt="Accelerate Growth" class="w-6 h-6">
      <div class="flex flex-col gap-1.5">
        <h3 class="text-xl text-derisk-100 font-normal">Aceelerate Growth</h3>
        <p class="text-sm text-derisk-200 font-normal max-w-[336px]">By effectively managing risks and uncertainties,
          pave the path for sustainable growth, outperforming competitors and attracting top talents.</p>
      </div>
    </div>
  </div>
</div>
