<div class="bg-[url('../../public/images/grid.png')] w-full flex flex-col items-center bg-cover overflow-x-hidden">
  <div class="flex flex-row items-center max-w-[1278px] gap-24 mt-24 px-16">
    <div class="flex flex-col align-start min-w-[424px] gap-8">
      <h1 class="font-bold text-5xl text-derisk-100">Risk management for early-stage startups</h1>
      <p class="font-normal text-xl text-derisk-200 ">Empowering early-stage visionaries with a risk management
        tool that tames doubt and fuels breakthroughs.</p>
    </div>
    <img src="../../public/images/dashboard.png" alt="De-Risk Hero"
      class="h-full w-[920px] rounded-md border border-derisk-800">
  </div>
</div>
