<div class="flex flex-col gap-9 pt-10 pb-20 px-8 items-center">
  <div class="flex flex-col gap-3 items-center max-w-[520px]">
    <div class="py-1.5 px-2 bg-green-900/50 font-medium text-xs text-green-400 rounded-md">
      Free for Solopreneurs</div>
    <h1 class="text-5xl text-derisk-100 font-bold text-center tracking-tighter">The toolkit for managing innovation
    </h1>
  </div>
  <p class="text-xl text-derisk-200 font-normal text-center max-w-[720px]">Innovation is about risk and reward. If you
    control one,
    you control the other as well. Stop spray and pray. Apply scientific method now.</p>
  <div class="flex flex-row items-center gap-2">
    <div
      class="flex flex-row bg-derisk-100 rounded-md pr-2 pl-3 py-1.5 cursor-pointer no-underline hover:underline hover:underline-offset-2 active:bg-derisk-150"
      hx-get="/modals/beta-list" hx-target="body" hx-swap="beforeend">
      <p class="text-derisk-950 text-sm font-semibold whitespace-nowrap">
        Join beta list
      </p>
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none"
        class="stroke-derisk-950">
        <path d="M9.16699 7.5L11.667 10L9.16699 12.5" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
    </div>
    <div
      class="text-derisk-300 flex flex-row items-center px-3 py-1.5 cursor-pointer no-underline hover:underline hover:underline-offset-4 hover:text-derisk-100 stroke-derisk-300 hover:stroke-derisk-100 active:text-derisk-150 transition ease-in-out"
      hx-get="/modals/feedback" hx-target="body" hx-swap="beforeend">
      <p class="text-sm font-semibold whitespace-nowrap">
        Give feedback
      </p>
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
        <path d="M9.16699 7.5L11.667 10L9.16699 12.5" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
    </div>
  </div>
</div>
