<div class="p-px linear-gradient rounded-md overflow-x-hidden">
  <div class="bg-derisk-950 rounded-md">
    <div class="flex flex-col py-20 px-8 sm:px-16 derisk-gradient rounded-md gap-24 lg:gap-16">
      <div class="flex flex-col items-center gap-3">
        <div class="py-1.5 px-2 bg-violet-900/50 font-medium text-xs text-violet-400 rounded-md">
          Scientific
          Method</div>
        <h2 class="text-4xl text-derisk-100 font-semibold tracking-tighter text-center">Trust the process</h2>
        <p class="font-normal text-xl text-derisk-200 max-w-[720px] text-center">Scientific method is a battle-tested
          way to bring
          out
          resolutions to leap of faith assumption early-stage startups struggle to overcome.</p>
      </div>
      <div class="flex flex-col lg:flex-row items-center gap-12">
        <div class="flex flex-row items-start gap-4">
          <div class="mt-1">
            <div class="border-[1.5px] border-derisk-100 w-3 h-3 rounded-md"></div>
          </div>
          <div class="flex flex-col items-start gap-2">
            <h3 class="text-base text-derisk-100 font-medium">Reveal your assumptions.</h3>
            <p class="font-normal text-sm text-derisk-200 max-w-[440px]">By systematically challenging and
              scrutinizing these assumptions, you gain valuable insights that shape your innovation strategy. Uncover
              potential blind spots and biases that may hinder your progress, putting you on a path towards a more
              objective and evidence-based approach.</p>
          </div>
        </div>
        <img src="https://de-risk.sfo3.cdn.digitaloceanspaces.com/assumption-feature.webp"
          alt="De-Risk Assumption Feature" class="h-[172px] w-[400px] scale-125 lg:scale-100 object-contain">
      </div>
      <div class="flex flex-col lg:flex-row items-center gap-12">
        <div class="flex flex-row items-start gap-4">
          <div class="mt-1">
            <div class="border-[1.5px] border-derisk-100 w-3 h-3 rounded-md"></div>
          </div>
          <div class="flex flex-col items-start gap-2">
            <h3 class="text-base text-derisk-100 font-medium">Conduct tests to de-risk.</h3>
            <p class="font-normal text-sm text-derisk-200 max-w-[440px]">Test your ideas in real-world scenarios,
              collecting data and feedback to assess feasibility, market demand, and potential risks. By proactively
              addressing uncertainties and de-risking your initiatives, you gain the confidence and clarity needed to
              make informed decisions.</p>
          </div>
        </div>
        <img src="https://de-risk.sfo3.cdn.digitaloceanspaces.com/test-feature.webp" alt="De-Risk Assumption Feature"
          class="h-[172px] w-[400px] scale-125 lg:scale-100 object-contain">
      </div>
      <div class="flex flex-col lg:flex-row items-center gap-12">
        <div class="flex flex-row items-start gap-4">
          <div class="mt-1">
            <div class="border-[1.5px] border-derisk-100 w-3 h-3 rounded-md"></div>
          </div>
          <div class="flex flex-col items-start gap-2">
            <h3 class="text-base text-derisk-100 font-medium">Analyze and pivot accordingly.</h3>
            <p class="font-normal text-sm text-derisk-200 max-w-[440px]">Analyzing data-driven insights helps you
              determine the viability and potential scalability of your ideas. Seamlessly adjust your strategies,
              business models, and product-market fit based on the analysis of both successes and failures, ultimately
              driving your startup towards growth and success.</p>
          </div>
        </div>
        <img src="https://de-risk.sfo3.cdn.digitaloceanspaces.com/analyze-feature.webp" alt="De-Risk Assumption Feature"
          class="h-[172px] w-[400px] scale-125 lg:scale-100 object-contain">
      </div>
    </div>
  </div>
</div>
