<div class="p-px quote-gradient rounded-md">
  <div class="bg-derisk-950 rounded-md">
    <div class="flex flex-col pt-24 pb-20 px-24 derisk-gradient rounded-md gap-5 items-center">
      <div class="py-1.5 px-2 bg-fuchsia-900/50 font-medium text-xs text-fuchsia-400 rounded-md">
        Path Dependence</div>
      <p class="font-normal text-xl text-derisk-200 max-w-[720px] text-center">“This structured approach helped them
        better
        mitigate their biases when they searched for and analyzed market signals. It reduced the likelihood of false
        positives (bad ideas being mistakenly accepted) and false negatives (good ideas getting rejected). Ultimately,
        scientific-minded founders in our study averted path dependence, whereby a wrong move early in the process has
        an enduring impact on decisions downstream.”</p>
      <h3 class="text-xl text-derisk-100 font-medium">Harvard Business Review</h3>
    </div>
  </div>
</div>
