@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --color-primary: #DB2777;
}

body{
    text-rendering: optimizeLegibility;
   -webkit-font-smoothing: subpixel-antialiased;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

#nprogress {
  pointer-events: none;
}
#nprogress .bar {
  background: var(--color-primary);
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
}
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #ffd369, 0 0 5px #ffd369;
  opacity: 1.0;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
      -ms-transform: rotate(3deg) translate(0px, -4px);
          transform: rotate(3deg) translate(0px, -4px);
}
.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}
.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

.derisk-gradient{
  background: var(--radial-gradient, radial-gradient(52.75% 48.98% at 82.59% 3.19%, rgba(24, 25, 30, 0.50) 0%, rgba(0, 0, 0, 0.00) 100%));
}

.linear-gradient{
  background: var(--linear-gradient, linear-gradient(180deg, rgba(24, 25, 30, 1.0) 0%, rgba(0, 0, 0, 0.00) 100%));
  box-shadow: 0px -25px 150px 0px rgba(167, 139, 250, 0.02);
}

.quote-gradient{
  background: var(--quote-gradient, linear-gradient(225deg,rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0)));
}

.pricing-gradient{
  background: var(--pricing-gradient, linear-gradient(225deg,rgba(255, 255, 255, 0.07), rgba(0, 0, 0, 0)));
}

.select {
  outline: none;
  cursor: pointer;
  background-image: url("../public/icons/caret-down.svg");
  background-blend-mode: lighten;
  background-position: 100%;
  background-repeat: no-repeat;
}
